<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">

    <title>Home</title>
</head>

<body>

    <%- include('navbar'); %>
        <section class="geral_section">
            <h1>Cookview</h1>

            <p class="main_desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas minus atque esse
                eveniet
                iusto, quo ipsa
                distinctio ratione quis quasi mollitia aspernatur! Qui ex alias perferendis, harum dolores quas odit.
                Lorem
                ipsum dolor sit amet, consectetur adipisicing elit. Cum natus cumque eum veritatis itaque autem dolorum
                sit,
                quaerat provident assumenda facere a nisi beatae dolores blanditiis placeat iste. Tempore, atque! Lorem
                ipsum
                dolor sit, amet consectetur adipisicing elit. Soluta adipisci praesentium, magnam quis molestias quaerat
                repellendus animi delectus ex at totam facilis hic provident ea expedita maxime cum eligendi commodi!
                Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ratione in hic reiciendis quibusdam odit, officiis
                aspernatur
                velit suscipit recusandae quas perferendis expedita est provident magnam exercitationem molestias ad
                iusto.
                Corporis.</p>


            <h2>Trending</h2>
            <ul class="movie_flex_list">
                <% trending.forEach(function(item){ %>
                    <a href="/<%= item.id %>">
                        <li class="card">
                            <div>
                                <p>
                                    <%= item.title %>
                                </p>
                                <p>
                                    <%= item.description %>
                                </p>
                            </div>
                        </li>
                    </a>

                    <% }); %>
            </ul>


            <h2>Lastest</h2>
            <ul class="movie_flex_list">

                <% info.latest.forEach(function(item){ %>
                    <li class="card">
                        <img src="data:image/png;base64,<%- item.image  %>" alt="">
                        <div>
                            <a href="<%= %>">
                                <%= item.title %>
                            </a>
                            <p>
                                <%= item.desc %>
                            </p>
                        </div>
                    </li>

                    <% }); %>
            </ul>
        </section>
</body>

</html>