<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/item.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>
        <%= item.title %>
    </title>
</head>

<body>
    <%- include('navbar'); %>

        <section class="movie geral_section">
            <img src="assets\item-image.png" alt="">
            <article>
                <h2>
                    <%= item.title %>
                </h2>
                <span>
                    <%= item.date %>
                </span>
                <p>
                    <%= item.description %>
                </p>
            </article>
        </section>

        <section class="reviews geral_section">
            <h3>Popular reviews:</h3>
            <hr>
            <ul>
                <% item.Reviews.forEach(function(review){ %>
                    <li>
                        <div class="unique_review">
                            <img src="" alt="">

                            <article>
                                <div class="username">
                                    <h3>
                                        <%= review.User.username %>
                                    </h3>

                                    <ul class="stars">
                                        <li>&#11088;</li>
                                        <li>&#11088;</li>
                                        <li>&#11088;</li>
                                        <li>&#9733;</li>
                                        <li>&#9733;</li>
                                </div>

                                <p contenteditable="false">
                                    <%= review.body %>
                                </p>
                            </article>
                            <div class="edit_del_btns">
                                <button onclick="">&#9998;</button>
                                <button onclick="">&#9746;</button>
                            </div>

                        </div>
                    </li>
                    <% }); %>
            </ul>


            </article>

            <hr>
            </li>

            </ul>
        </section>

        <section class="add_review_area geral_section">
            <h3>Add a review</h3>
            <form id="review_form" method="POST" action="/review">
                <input id="title" name="title" type="text" value="titulo" />
                <input id="body" name="body" type="text" value="body"></textarea>
                <input id="stars" name="stars" type="number" value="2">
                <button form="review_form" class="add_button" type="submit">ADD</button>
            </form>
        </section>

        <section class="similar_movies geral_section">
            <h3>Other Items</h3>
            <hr>
            <ul class="movie_flex_list">
                <% items.forEach(function(item){ %>
                    <li class="card">

                        <div>
                            <h3>
                                <%= item.title %>
                            </h3>
                            <p>
                                <%= item.description %>
                            </p>
                        </div>
                    </li>

                    <% }); %>
            </ul>

        </section>
</body>

</html>